*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body .headerbg01{
    background: linear-gradient(45deg, rgba(29, 224, 153, 0.6), rgba(29, 200, 205, 0.6)),url(img/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
